<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    --> 
  <connectionStrings>
    <add name="MySqlMembershipConnection"
connectionString="server=8f386ddd-8b96-4877-95c8-a121007cbae0.mysql.sequelizer.com;database=db8f386ddd8b96487795c8a121007cbae0;uid=wawdbnjkhyvffgps;pwd=QLnD7ew6iAvPuRH5utnG7kqzLxo4DcPGeQ4jRQpXK67KkQeJx4Z2cdVEvVZGXBzg"
providerName="MySql.Data.MySqlClient"/>

    <add name="dbsoftschoolEntities1" connectionString="metadata=res://*/Models.Model4.csdl|res://*/Models.Model4.ssdl|res://*/Models.Model4.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=8f386ddd-8b96-4877-95c8-a121007cbae0.mysql.sequelizer.com;database=db8f386ddd8b96487795c8a121007cbae0;uid=wawdbnjkhyvffgps;pwd=QLnD7ew6iAvPuRH5utnG7kqzLxo4DcPGeQ4jRQpXK67KkQeJx4Z2cdVEvVZGXBzg&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      -->
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace" >
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
  </system.web>
</configuration>